# Django settings
DJANGO_SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgres://user:password@localhost:5432/alex_db

# Google API Keys
GEMINI_API_KEY=your-gemini-api-key-here
GOOGLE_PROJECT_NUMBER=635779537244
GOOGLE_APPLICATION_CREDENTIALS=credentials/alex-494015-77a205e1388c.json
GOOGLE_MAP_JAVASCRIPT_API_KEY=your-maps-key
GOOGLE_PLACES_API_KEY=your-places-key
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
